/* shared style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background-color:rgba(243, 147, 22, 0.115); */
}
:root {
  --primary-color: red;
  --secondary-color: #fff;
  --font-color: #3a3a3a;
}
.btn-primary{
    background: var(--primary-color);
    /* background-color: #fff; */
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    border: 0;
}
/* Header section > nav bar styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--font-color);
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  color: var(--font-color);

  font-size: 18px;
  font-weight: 600;
}
.nav-menu img {
  padding-top: 10px;
}
/* banner section */
.banner-container{
   margin:  0 100px;
}
.banner {
  display: flex;
  gap: 20px;
  align-items: center;
}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
    color:var(--font-color);
}
.banner-info{
    font-weight: 600;
    padding: 30px 0;
    color:var(--font-color);
}
.banner-image {
    background-image:url(images/Circle\ design.svg),url(images/main-camera.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
  width: 475px;
  height: 475px;
}

.btn{
    border-radius: 40px;
}
/* sponsor styling */
.sponsor{
    display:flex;
    justify-content:space-evenly;
    padding: 20px 80px;
    margin-bottom: 80px;
}

/* popular collection */
.popular-collection{
    max-width:80%;
    margin: 0 auto;
}
.popular-title{
    text-align: center;
    margin-bottom: 50px;
    color:var(--font-color);
font-size: 1.75rem;
font-weight: 600;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   place-items: center;
   grid-gap: 20px;
   /* background:#F1E4FF; */
   padding: 30px;
   /* width:90%; */
   /* margin: 0 auto; */

}
.box{
width: 100%;
/* height: 476px;  */
border-radius: 10px;
box-shadow: 0px 0px 15px 10px rgba(192,171,217,1);
-moz-box-shadow: 0px 0px 15px 10px rgba(192,171,217,1);
box-shadow: 0px 0px 15px 10px rgba(192,171,217,1);
}
.box-item{
text-align: left;
padding: 15px;
}
.box-image{
    width: 100%;
}
.box-image-title{
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
}
.price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
}
.ratings{
color: #5E6366;
font-weight: 700;
}
.box-image-info{
    color: #787885;
    font-weight: 700;
    width: 12.5rem;
    /* letter-spacing: 0.252px; */
}
.see-more h3{
    text-align: right;
    margin-right: 100px;
    margin-bottom: 100px;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
}
.see-more {
    text-decoration: none;
}




