/* shared style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: red;
  --secondary-color: #fff;
  --font-color: #3a3a3a;
}
.btn-primary {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
  padding: 10px 25px;
  border: 0;
  cursor: pointer;
}
/* Header section > nav bar styling */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--font-color);
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  color: var(--font-color);

  font-size: 18px;
  font-weight: 600;
}
.nav-menu img {
  padding-top: 10px;
}
/* banner section */
.banner-container {
  margin: 0 100px;
}
.banner {
  display: flex;
  gap: 20px;
  align-items: center;
}

.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.375rem;
  color: var(--font-color);
}
.banner-info {
  font-weight: 600;
  padding: 30px 0;
  color: var(--font-color);
}
.banner-image {
  background-image: url(images/Circle\ design.svg), url(images/main-camera.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 475px;
  height: 475px;
}

.btn {
  border-radius: 40px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
/* sponsor styling */
.sponsor {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 80px;
  /* margin-bottom: 80px; */
  /* background-image: linear-gradient(135deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%); */
}

/* popular collection */
.popular-collection {
  max-width: 80%;
  margin: 0 auto;
}
.popular-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  color: var(--font-color);
  font-size: 1.75rem;
  font-weight: 600;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 20px;
  padding: 30px;
}
.box {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px rgba(192, 171, 217, 1);
  -moz-box-shadow: 0px 0px 15px 10px rgba(192, 171, 217, 1);
  box-shadow: 0px 0px 15px 10px rgba(192, 171, 217, 1);
}
.box-item {
  text-align: left;
  padding: 15px;
}
.box-image {
  width: 100%;
}
.box-image-title {
  color: #18191f;
  font-size: 1.75rem;
  font-weight: 500;
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 0;
}
.ratings {
  color: #5e6366;
  font-weight: 700;
}
.box-image-info {
  color: #787885;
  font-weight: 700;
  width: 12.5rem;
  padding-top: 10px;
}
.see-more h3 {
  text-align: right;
  margin-right: 100px;
  margin-bottom: 100px;
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
}
.see-more {
  text-decoration: none;
}

/* feature-container */
.feature-content {
  width: 80%;
  margin: 0 auto;
}
.feature-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 150px;
  margin-bottom: 80px;
}

.feature-title {
  color: #0a0826;
  font-size: 2.4rem;
  font-weight: 700;
}
.feature-info {
  color: #6c6c6c;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 15px;
}
/* Footer section */
footer {
  background-color: #0a0826;
  padding: 60px;
}
.footer-container {
  text-align: center;
}
.footer-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.footer-para {
  color: #d9dbe1;
  font-weight: 700;
  padding: 20px 0;
}

/* responsiveness */
/* for mobile devices */
@media screen and (max-width: 576px) {
  nav ,.feature-container{
    flex-direction: column;
  }
  .banner,.feature-container {
      flex-direction: column-reverse;
    }
    .feature-container{
        gap: 60px;
    }
    .btn{
        margin-bottom: 50px;
    }
    .sponsor, .nav-menu{
        flex-wrap: wrap;
        gap:20px;
    }
    .banner-description, .feature-text{
        text-align:center;
    }
    .banner-title{
        font-size: 2rem;
    }
    .box-container{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .see-more h3{
        margin-right: 35px;
    }
}
/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav ,.feature-container{
        flex-direction: column;
      }
      .banner,.feature-container {
          flex-direction: column-reverse;
        }
        .feature-container{
            gap: 60px;
        }
        .btn{
            margin-bottom: 50px;
        }
        .sponsor{
            flex-wrap: wrap;
            gap:20px
        }
        .banner-description, .feature-text{
            text-align:center;
            
        }
        .banner-title{
            font-size: 2rem;
        }
        .box-container{
            grid-template-columns: 1fr;
            gap: 50px;
        }
        .see-more h3{
            margin-right: 35px;
        }
}
